/* CSS Document */

/* Yellow: #febc20 */

/* * * * * * MEDIA QUERIES * * * * * */

@media all and (max-width: 960px) {
	.container {
		width: 100%;
	}
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.container {
			width: 100%;
	}
}

/* * * * * * BASIC STYLING * * * * * */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

.container {
	margin: 0 auto;
	text-align:center;
}


.content {
	padding: 10px 0;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
	list-style:none;
}
h1, h2, h3, h4, h5, h6, p {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
h3 {
	text-transform:uppercase;
	font-weight:100;
	font-size: 1.3em;
	padding: 5px 0;
	margin:0;
}

a img {
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}


/* * * * * * FORM STYLING * * * * * */

input[type=text] {
	border-radius: 3px;
	width: 300px;
}


/* * * * * * LIST STYLING * * * * * */

.todo-list {
	width: 500px;
	margin:0 auto;
}
.todo-list ul li {
	background-color: #fafafa;
	padding: 10px 0;
	border-bottom: 1px solid #CCC;
}
.todo-list ul li:nth-child(odd) {
	background-color: #fff;
}
.todo-list h3 {
	background-color: #febc20;
	color: #fff;
}